*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh ;
    background-image: url(img/backgroundshapes.png);
    background-repeat:inherit;
    background-size: contain;
    background-color:rgb(0, 0, 53); 
 
   
}

.clock{
    min-width: 200px;
    max-width: 350px;
    height: 300px;
    width: 300px;
    background-color: rgba(220, 29, 140, 0.571);
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(20px) ;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
    
}
.clockvector{
    opacity: 0.6;
    position: relative;
}

.hand{
    color: rgb(255, 255, 255);
    position: absolute ;
    background-color: rgba(255, 255, 255, 0.647);
    backdrop-filter: blur(20px);
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}
.hour{
    height: 70px;
    width: 3px;
    top: 78px;
}
.minute{
    height: 100px;
    width: 3px;
    top: 48px;
}
.seconds{
    height: 130px;
    width: 2px;
    top: 18px;
}