body{
    padding: 0;
    margin: 0; 
    background-image: url(img/backgroundshapes.png);
    background-repeat:inherit;
    background-size: contain;
    background-color:rgb(0, 0, 53); 
   
}




.clockposition{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50em;
   
}

.clock{
    height: 1300px;
    width: 1300px;
    background-color: rgba(220, 29, 140, 0.571);
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(20px) ;
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
    box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
    
}
.clockvector{
    opacity: 0.6;
}

.hand{
    color: rgb(255, 255, 255);
    position: absolute ;
    background-color: rgba(255, 255, 255, 0.647);
    backdrop-filter: blur(20px);
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}
.hour{
    height: 300px;
    width: 20px;
    top: 365px;
}
.minute{
    height: 400px;
    width: 15px;
    top: 265px;
}
.seconds{
    height: 500px;
    width: 5px;
    top: 165px;
}